.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	display: table-cell;
    width: auto;
    height: auto;
}
.divTableHeading {
	background-color: #EEE;
	font-weight: bold;
    width: auto;
    height: auto;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%; 
}